<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <title>Tic Tac Toe</title>
    </head>
    <body>
        <h1 id="title">Tic Tac Toe</h1>
        <p class="break"></p>
        <a class="btn_out" href="/offline"><img class="btn center" src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/social/thumbnail/ios12-no-internet-connection-icon_2x.png" width=35px height=35px></a>
        <p class="break"></p>
        <a class="btn_out" href="/form"><img class="btn center" src="http://simpleicon.com/wp-content/uploads/signal.png"width=35px height=35px></a>
    </body>
</html>