<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="TicTacToeDisplay.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <p id="scoreBox"></p>
    <canvas id="board" width=200px, height=200px></canvas>
    <p id="alertBox"></p>
    <p id="url"></p>
    <script src="ticTacToe.js"></script>
</body>
</html>